<div class="row header" >
  <div class="header-logo">
    <div >
      <span class="span-l" style="font-weight: 400; color: rgb(191, 35, 35); font-size: 60px; margin-left: 10px;">F</span>
      <span
        style="font-weight: 400; font-size: 25px;">OOSTEL</span>
    </div>
    <!-- <img src="../assets/VECTORS/Foostel-Logo.svg" alt="" height="50px" style="margin-right: 10px; padding-bottom: 10px;"> -->
  </div>
    
  <div class="navigation">
    <a routerLinkActive="nav-active" class="navigation-a" routerLink="services" href="">Services</a>
    <a routerLinkActive="nav-active" class="navigation-a" routerLink="register-services" href="">Register</a>
    <a routerLinkActive="nav-active" class="navigation-a" routerLink="about-us" href="">About us</a>
    <a routerLinkActive="nav-active" class="navigation-a" routerLink="contact-us" href="">Contact us</a>
  </div>
  <div *ngIf="!auth.loggedIn()" routerLink="signin" routerLinkActive="nav-active" class="user" style="text-align: center;">
    Sign In
  </div>
  <div *ngIf="auth.loggedIn()" routerLink="user/profile" routerLinkActive="nav-active" class="user" style="text-align: center; 
    background-color: rgba(255,255,255,.3); margin-right: 5px;">
    <span style="font-size: 15px;">Profile</span>
  </div>

</div>
<div style="margin-left: 10px;">
  <router-outlet></router-outlet>
</div>