<div class="container-l" style=" position: absolute; float: left; margin-top: 20px; margin-bottom: 50px; background-color: rgb(248, 248, 248); 
     margin-left: 5px;  width: fit-content; margin-right: 30px;  padding: 40px 20px;">
    <div *ngIf="service_" style="display: inline-block; margin-right: 20px; max-width: 700px ;">
        <button class="btn-fa" (click)="router.navigate(['/services'])"
            style=" margin-right: 20px; color: rgb(44, 44, 44); font-weight: 500;  ">
            <i class="fa fa-angle-left">
        
            </i>
            {{service_.s_name}}
        </button>

        <div style=" margin-top: 20px; width: 300px; height: fit-content; background-color: rgba(0, 0, 0, 0.1);">
            <div routerLink="/photos/{{img.imageId}}" class="btn-fa" *ngFor="let img of service_.photos; index as idx" style=" display: inline-block; vertical-align: top; width: 100px;height: 100px;
                                                background-color: whitesmoke;
                                                background-image: url({{img.tn}}); background-size: cover; background-repeat: no-repeat; cursor: pointer;
                                                ">
            </div>
        
        </div>

        <div style="margin-top: 20px;">
            <span style="font-weight: 500; font-size: 12px;">
                Hostel Type
            </span>
            <span
                style="margin-left: 10px; font-size: 12px; padding: 5px 20px; background-color: white; border-radius: 20px;">
                <span *ngIf="service_.s_data.hostel_type">
                    {{service_.s_data.hostel_type}}
                </span>
            </span>
        </div>

        <div style="margin-top: 20px;">
            <span style="font-weight: 500; font-size: 12px;">
                Room Type
            </span><br><br>
            <div *ngIf="service_.s_data.room_type.single_bed.isset" style="display: inline-block; width: fit-content; margin-left: 10px; font-size: 12px;
             padding:20px; background-color: white; border-radius: 10px; margin-bottom: 10px;">
                <span style="font-weight: 500;">Single Bed</span><br><br>
                <div style="margin-bottom: 10px; margin-right: 20px; display: inline-block;">
                    Rent
                    <span class="span-xs"
                        style="margin-left: 10px; padding: 5px 10px; background-color: darkblue; color: whitesmoke; border-radius: 20px;">
                        {{service_.s_currency_symbol}} {{service_.s_data.room_type.single_bed.rent_y}}/Year
                    </span>
                </div>
            </div>


            <div *ngIf="service_.s_data.room_type.double_bed.isset" style="display: inline-block; width: fit-content; margin-left: 10px; font-size: 12px;
                         padding:20px; background-color: white; border-radius: 10px; margin-bottom: 10px;">
                <span style="font-weight: 500;">Double Bed</span><br><br>
                <div style="margin-bottom: 10px; margin-right: 20px; display: inline-block;">
                    Rent
                    <span class="span-xs"
                        style="margin-left: 10px; padding: 5px 10px; background-color: darkblue; color: whitesmoke; border-radius: 20px;">
                        {{service_.s_currency_symbol}} {{service_.s_data.room_type.double_bed.rent_y}}/Year
                    </span>
                </div>
            </div>

            <div *ngIf="service_.s_data.room_type.tripple_bed.isset" style="display: inline-block; width: fit-content; margin-left: 10px; font-size: 12px;
                         padding:20px; background-color: white; border-radius: 10px; margin-bottom: 10px;">
                <span style="font-weight: 500;">Tripple Bed</span><br><br>
                <div style="margin-bottom: 10px; margin-right: 20px; display: inline-block;">
                    Rent
                    <span class="span-xs"
                        style="margin-left: 10px; padding: 5px 10px; background-color: darkblue; color: whitesmoke; border-radius: 20px;">
                        {{service_.s_currency_symbol}} {{service_.s_data.room_type.tripple_bed.rent_y}}/Year
                    </span>
                </div>
            </div>

            <div *ngIf="service_.s_data.room_type.other.isset" style="display: inline-block; width: fit-content; margin-left: 10px; font-size: 12px;
                         padding:20px; background-color: white; border-radius: 10px; margin-bottom: 10px;">
                <span style="font-weight: 500;">Other</span><br><br>
                <div style="margin-bottom: 10px; margin-right: 20px; display: inline-block;">
                    Rent
                    <span class="span-xs"
                        style="margin-left: 10px; padding: 5px 10px; background-color: darkblue; color: whitesmoke; border-radius: 20px;">
                        {{service_.s_currency_symbol}} {{service_.s_data.room_types.other.rent_y}}/Year
                    </span>
                </div>
            </div>

            <div *ngIf="service_.s_data.cm.trim()!=''" style="display: inline-block; width: fit-content; margin-left: 10px; font-size: 12px;
                                     padding:20px; background-color: white; border-radius: 10px; margin-bottom: 10px;">
                <div style="margin-bottom: 10px; margin-right: 20px; display: inline-block;">
                    Caution Money
                    <span class="span-xs"
                        style="margin-left: 10px; padding: 5px 10px; background-color: darkblue; color: whitesmoke; border-radius: 20px;">
                        {{service_.s_currency_symbol}} {{service_.s_data.cm}}
                    </span>
                </div>
            </div>

        </div>

        <div style="margin-top: 20px;">
            <style>
                .faci {
                    display: inline-block;
                    margin-bottom: 20px;
                    ;
                    margin-left: 10px;
                    font-size: 12px;
                    padding: 5px 20px;
                    background-color: white;
                    border-radius: 20px;
                }
            </style>
            <span style="font-weight: 500; font-size: 12px;">
                Facilities
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.attached_bath">
                Attached Bath
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.ac">
                AC
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.meal">
                Meal
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.housekeeping">
                House Keeping
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.parking">
                Parking
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.gym">
                Gym
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.cloth_washing">
                Laundry
            </span>
            <span class="faci" *ngIf="service_.s_data.facilities.other.trim()!=''">
                {{service_.s_data.facilities.other}}
            </span>
        </div>

    </div>

    <div style="display: inline-block; vertical-align: top; margin-top: 10px;;">

        <div style="width: fit-content; background-color: white;
            width: 300px; margin-top: 20px; border-radius: 10px;">

            <div id="map2" style="border-radius: 10px 10px 0 0; width: 300px; height: 150px;">

            </div>

            <div *ngIf="service_" style="padding: 10px 20px;">
                <span class="span-s" style="font-weight:500;">Address</span> <br>
                <p style="font-size: 12px; ">
                    {{service_.s_add+' '+service_.s_loc[0].place_name}}
                </p>

                <span class="span-s" style="font-weight:500;">Contact No</span> <br>
                <p style="font-size: 12px; ">
                    {{'+'+service_.dc+' '+service_.owner_contact}}
                </p>
            </div>



        </div>
        <br><br>
        <div *ngIf="service_" style="float: right;">
            <a class="btn" [href]="'tel:'+service_.dc+service_.owner_contact"
                style="padding: 10px 20px; text-decoration: none; color: white; position: relative; right: 10px;"
                target="_blank">
                <i class="fa fa-phone"></i> Call</a>

            <a class="btn" [href]="mapservice.navigateAt(service_.s_coords)"
                style=" padding: 10px 20px; text-decoration: none; color:white; background-color: darkblue; margin-left: 10px; margin-right: 30px; position: relative; right: 10px;"
                target="_blank"><i class="fa fa-location-arrow"></i> Navigate</a>
        </div>

    </div>



</div>